.box {
    border: 2px solid #dfd7c99f;
    border-radius: 25px;
    padding: 10px;;
    text-align: start
  }
.through{
    text-decoration-line: underline;
    text-decoration-style: dotted;
    color:#b83838;

}
.position{
   float: right;
    position:fixed;
    display: block;
    width:200px;
    height:200px;
    background-color: #cf8f8f;
}