.header-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 10px 15px;
    background-color: #000;
    border-bottom: 3px solid #0F0;
}

.header-button {
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}