<div>
  <h2> News</h2>
  <p *ngIf="userDetailsInput">
    Hello {{userDetailsInput.firstname+' '+userDetailsInput.lastname}}
  </p>
  <ul *ngIf="userDetailsInput">
    <li *ngFor="let hobby of userDetailsInput.hobbies">{{hobby}}</li>
  </ul>

  <p *ngIf="dashboardDetailsInput">
    The username and password are <strong>{{dashboardDetailsInput.username}}</strong> and <strong>{{dashboardDetailsInput.password}}
    </strong> respectively.</p>
</div>

<p *ngIf="true">
  Expression is true and ngIf is true.
  This paragraph is in the DOM.
</p>
<p *ngIf="false">
  Expression is false and ngIf is false.
  This paragraph is not in the DOM.
</p>