<div class="div-class">
  <h1 class="text-shadowclass">A sample Products page</h1>
</div>

<div class="product-div">
  <div class="single-product">
    <div class="product-class border-class">
      <!-- <span class="reach">one</span> -->
      <a href="http://google.com"><img src="../../../assets/images/img1.jpg" /></a>
      <h3>The best pick for the day</h3>
      <ul class="list-class">
        <li>
          <p class="box">$23.13</p>
        </li>
        <li> <input type="button" class="button shadow-class" value="Add to cart"></li>
      </ul>
      <details>The product is the most durable and can be bought with the belief of the customer The product is the
        most durable and can be bought with the belief of the customer The product is the most durable and can be
        bought with the belief of the customer.</details>
    </div>
  </div>

  <div class="single-product">
    <div class=" product-class border-class">
      <a href="http://google.com"> <img src="../../../assets/images/img2.jpg" /></a>
      <h3>The cheapest pick for the day</h3>
      <ul class="list-class">
        <li>
          <p class="box">$21.3</p>
        </li>
        <li> <input type="button" class="button shadow-class" value="Add to cart"></li>
      </ul>
      <details>The product is the most durable and can be bought with the belief of the customer The product is the
        most durable and can be bought with the belief of the customer The product is the most durable and can be
        bought with the belief of the customer.</details>
    </div>
  </div>

  <div class="single-product">
    <div class=" product-class border border-class">
      <a href="http://google.com"> <img src="../../../assets/images/img3.jpg" /></a>
      <h3>The economical pick for the day</h3>
      <ul class="list-class">
        <li>
          <p class="box">$22.00</p>
        </li>
        <li> <input type="button" class="button shadow-class" value="Add to cart"></li>
      </ul>
      <details>The product is the most durable and can be bought with the belief of the customer The product is the
        most durable and can be bought with the belief of the customer The product is the most durable and can be
        bought with the belief of the customer.</details>
    </div>
  </div>

  <div class="single-product">
    <div class=" product-class border border-class">
      <a href="http://google.com"> <img src="../../../assets/images/img4.jpg" /></a>
      <h3>The top pick for the day</h3>
      <ul class="list-class">
        <li>
          <p class="box">$25.99</p>
        </li>
        <li> <input type="button" class="button shadow-class" value="Add to cart"></li>
      </ul>
      <details>The product is the most durable and can be bought with the belief of the customer The product is the
        most durable and can be bought with the belief of the customer The product is the most durable and can be
        bought with the belief of the customer.</details>
    </div>
  </div>

  <div class="single-product">
    <div class=" product-class border border-class">
      <a href="http://google.com"> <img src="../../../assets/images/img5.jpg" /></a>
      <h3>The economy pick of the day</h3>
      <ul class="list-class">
        <li>
          <p class="box">$28.99</p>
        </li>
        <li> <input type="button" class="button shadow-class" value="Add to cart"></li>
      </ul>
      <details>The product is the most durable and can be bought with the belief of the customer The product is the
        most durable and can be bought with the belief of the customer The product is the most durable and can be
        bought with the belief of the customer.</details>
    </div>
  </div>

  <div class="single-product">
    <div class=" product-class border border-class">
      <a href="http://google.com"> <img src="../../../assets/images/img6.jpg" /></a>
      <h3>The expensive pick of the day</h3>

      <ul class="list-class">
        <li>
          <p class="box">$35.99</p>
        </li>
        <li> <input type="button" class="button shadow-class" value="Add to cart"></li>
      </ul>

      <!-- <div class="div-class">
        <div>
          <p class="box">$35.99</p>
        </div>
        <div> <input type="button" class="button shadow-class" value="Add to cart"> </div>
      </div> -->
      <details>The product is the most durable and can be bought with the belief of the customer The product is the
        most durable and can be bought with the belief of the customer The product is the most durable and can be
        bought with the belief of the customer.</details>
    </div>
  </div>
</div>
